{% extends 'baseUser.html' %}

{% block conteudo %}

<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href=""> <b> Plataforma </b> IAIoT</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">

<div class="container">
	<div class="d-flex flex-column">
		<p class="m-auto">Sua senha foi alterada com sucesso. Você já pode fazer <a href="{% url 'logar_usuario' %}">Entrar</a> </p>
	</div>
</div>

</div>
</div>
<!-- /.login-box -->

{% endblock conteudo %}