{% autoescape off %}
Olá {{user.first_name}} {{user.last_name}},

Você soliticou alteração de senha pela Plataforma IAIoT?

Se sim, para iniciar o processo de redefinição de senha da sua conta {{ user.email }},

Clique no link abaixo:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Se ao clicar no link acima e não for redirecionado para a página de alterar senha, copie e cole o URL acima em seu navegador de Internet.

Obrigado!

Plataforma IAIoT,
Equipe de Suporte!
{% endautoescape %}