{% extends 'baseUser.html' %}

{% block conteudo %}

<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href=""> <b> Plataforma </b> IAIoT</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">

	<div class="container">

		<div class="d-flex flex-column">
			  <p class="m-auto p-2">
				Enviámos-lhe instruções por e-mail para definir sua senha, se houver uma conta com o e-mail digitado. Você deve recebê-los em breve.
			  </p>
			  <p class="m-auto p-2">
				Se você não receber um e-mail, verifique se inseriu o endereço com o qual se registrou, e verifique sua pasta de spam.
			  </p>
			  <p class="m-auto p-2"><a href="{% url 'logar_usuario' %}">Retornar a página inicial</a></p>
		</div>
	</div>

</div>
</div>
<!-- /.login-box -->

{% endblock conteudo %}