{% extends 'index.html' %}
{% load static %}
{% block conteudo %}

 <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb">
          <div class="col-sm-6">
            <h1>Alterar Tag</h1>
          </div>
          <div class="col-sm-6">

          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>


     <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">

              <!-- form start -->
              <form role="form" method="post" >
                  {% csrf_token %}
                <div class="card-body">

                    <div class="form-group">
                        <label for="description">Descrição</label>
                        <input type="text" class="form-control" id="description" name="description" placeholder="Descrição" value="{{tag.description}}" required>
                       {{form_tag.description.errors}}
                    </div>

                    <div class="form-group">
                        <label for="uuid">UUID</label>
                        <input type="text" class="form-control" id="uuid" name="uuid" placeholder="UUID da TAG" value="{{tag.uuid}}"  required>
                       {{form_tag.uuid.errors}}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Alterar</button>
                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-danger float-right">Cancelar</a>
                </div>
              </form>
            </div>
            <!-- /.card -->

          </div>
          <!--/.col (left) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->


{% endblock conteudo %}